@use '../../../styles/base/settings' as *;

.container {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  position: relative;
}
