@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f7f9f9;
  --primary-bg-color: #f7f9f9;
  --secondary-bg-color: #ffffff;
  --primary-btn-color: #01080d;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --text-color: #000;
  --primary-color: #6200ea;
}

/* Default theme (light) */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

button {
  background-color: var(--primary-color);
  color: #fff;
}

/* Dark theme */
body.dark-theme {
  --background-color: #01080d;
  --primary-bg-color: #01080d;
  --secondary-bg-color: #000000;
  --primary-btn-color: #f7f9f9;
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --text-color: #fff;
  --primary-color: #bb86fc;
}
