@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fff;
  --text-color: #000;
  --primary-color: #6200ea;
}

/* Default theme (light) */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--primary-color);
  color: #fff;
}

/* Dark theme */
body.dark-theme {
  --background-color: #333;
  --text-color: #fff;
  --primary-color: #bb86fc;
}
