@use '../../styles/base/settings' as *;

.container {
  background: var(--background-color);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

//mobile
.mobileContainer {
  display: block;
  width: 100%;
  height: 100%;
}
.laptopContainer {
  display: none;
}

//laptop
@media (min-width: $breakpoint-laptop) {
  .mobileContainer {
    display: none;
  }
  .laptopContainer {
    display: block;
    width: 100%;
    height: 100%;
  }
}
